@use '@/styles/mixins.scss' as *;

.chat-page {
    @include flex-column;
    align-items: center;

    flex: 1;

    min-height: 0;

    padding: 0 var(--chat-x-padding);
    box-sizing: border-box;
}

.chat-box {
    @include flex-column;
    align-items: center;

    width: 100%;
    height: 100%;

    position: relative;

    padding-bottom: 3em;

    @include scrollableY;

    scrollbar-gutter: stable both-edges;
}
.message-input {
    bottom: 1.25em;
    max-width: var(--chat-max-width);
}
