@use '@/styles/mixins.scss' as *;

.large-button {
    @include flex-y-center;

    gap: 0.5em;

    width: 100%;

    height: 100%;
    max-height: 43px;

    background-color: transparent;

    border: none;
    border-radius: 12px;

    padding: 0.75em 1em;
    box-sizing: border-box;

    font-size: 1rem;

    cursor: pointer;

    &:hover {
        background-color: var(--light-hover-bg-color);
    }
}

.title {
    color: var(--font-color);
    font-size: 1rem;
}
