@use '@/styles/mixins.scss' as *;

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    @include flex-center;

    z-index: 100;

    &.type-blur {
        background-color: var(--modal-backdrop-bg);
        backdrop-filter: blur(1px);
    }
}
