services:
  postgresdb:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: none-postgres
    ports: 
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  verdaccio:
    image: verdaccio/verdaccio
    ports: 
      - "4873:4873"
    volumes:
      
      - ./verdaccio/storage:/verdaccio/storage
      - ./verdaccio/config.yaml:/conf/config.yaml


  frontend: 
    build:
      context: './frontend'
      dockerfile: dockerfile
    ports: 
      - "3000:3000"
    env_file:
      - "./frontend/.env"
    depends_on:
      - verdaccio
    volumes:
      - "./frontend:/app"

      - "/app/node_modules"
    command: sh -c "npm install --registry=http://verdaccio:4873 && next dev -H 0.0.0.0 -p 3000"

  backend: 
    build:
      context: './backend'
      dockerfile: dockerfile
    ports:
      - "1000:1000"
    env_file:
      - "./backend/.env"
    depends_on:
      - postgresdb
      
      - verdaccio
    volumes:
      - "./backend:/app"
    
      - "/app/node_modules"
    command: sh -c "bun install --registry=http://verdaccio:4873 && bun run dev -host 0.0.0.0"



volumes:
  pg_data:








