@use '@/styles/mixins.scss' as *;

.navbar {
    width: 100%;
    height: 100%;
    max-height: 100%;

    padding-left: 0.5em;
    padding-right: 0.5em;

    box-sizing: border-box;

    transition: max-width 0.25s ease, background-color 0.25s ease;
}

.full-navbar {
    max-width: 230px;
    background-color: var(--foreground-color);

    @include scrollableY();
}

.cut-navbar {
    max-width: 52px;

    border-right: 1px var(--light-border-color) solid;
}

.navbar-content {
    @include flex-column;
    gap: 0.8em;

    height: 100%;
}
