@use '@/styles/mixins.scss' as *;

.navbar {
    height: 100%;

    max-height: 100%;

    padding: 0 0.5em;

    box-sizing: border-box;

    transition: max-width 0.25s ease, background-color 0.25s ease;
}

.full-navbar {
    max-width: 230px;

    background-color: var(--foreground-color);

    overflow-y: auto;

    scrollbar-width: auto;
    scrollbar-color: var(--hover-bg-color) transparent;

    &::-webkit-scrollbar {
        width: auto;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--hover-bg-color);
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-button {
        display: none;
    }

    &::-webkit-scrollbar:hover {
        background-color: var(--scrollbar-hover-bg-color);
    }
}

.cut-navbar {
    max-width: 52px;

    border-right: 1px var(--light-border-color) solid;
}

.navbar-content {
    @include flex-column;
    gap: 0.8em;

    height: 100%;
}
