@use '@/styles/mixins.scss' as *;

.auth-modal {
    @include flex-column;
    gap: 1.25em;

    width: 100%;

    max-width: 390px;

    height: 100%;

    max-height: fit-content;

    background-color: var(--background-color);

    border-radius: 16px;

    box-shadow: 0px 8px 16px 0px #00000052, inset 0px 0px 1px 0px #fff3,
        0px 0px 1px 0px #0000009e;
}

.head {
    width: 100%;

    padding: 0.625em 0.625em 0;
    box-sizing: border-box;
}
.close-button {
    margin-left: auto;

    @include flex-center;

    width: 36px;

    height: 36px;

    background-color: transparent;

    border: none;

    border-radius: 50%;

    cursor: pointer;

    &:hover {
        background-color: var(--light-hover-bg-color);
    }
}

.main-content {
    @include flex-column;
    gap: 1.25em;
}
.title {
    width: 100%;

    @include text-wo-margin(2rem);
    text-align: center;
}

.auth-content {
    @include flex-column;
    gap: 1em;

    padding: 0 1.5em 2.5em 1.5em;
    box-sizing: border-box;
}

.divider-block {
    @include flex-y-center;
    gap: 1.5em;

    width: 100%;
}
.divider {
    flex: 1;
    height: 1px;

    background-color: var(--secondary-border-color);
}
.divider-text {
    color: var(--secondary-font-color);
    font-size: var(--m-font-size);
}

@media (max-width: 460px) {
    .auth-modal {
        max-width: initial;
        max-height: initial;

        border-radius: 0;
    }
    .main-content {
        justify-content: center;
        height: 100%;
    }
}
