@use '@/styles/mixins.scss' as *;

.access-button {
    @include flex-center;

    background-clip: padding-box;

    border-radius: var(--button-border-radius);

    padding: 0.75em;

    box-sizing: border-box;

    font-size: 1rem;
    font-weight: 500;

    cursor: pointer;

    transition: opacity 0.16s ease;

    &.size-large {
        width: 100%;
        height: 52px;

        font-size: 1rem;
    }
    &.size-small {
        height: 36px;
        font-size: var(--m-font-size);
    }

    &.variant-filled {
        background-color: var(--access-bg-color);

        border: none;

        color: var(--access-font-color);

        &:hover {
            opacity: 0.84;
        }
        &:active {
            opacity: 0.7;
        }
    }
    &.variant-empty-filled {
        background-color: transparent;
        color: var(--font-color);

        border: 1px var(--border-color) solid;

        &:hover {
            background-color: var(--tretiary-background-color);
        }
        &:active {
            opacity: 0.8;
        }
    }
}
