@use '@/styles/mixins.scss' as *;

.access-button {
    @include flex-center;

    background-clip: padding-box;

    border: none;

    border-radius: var(--button-border-radius);

    padding: 0.75em;

    box-sizing: border-box;

    font-weight: 500;

    cursor: pointer;

    transition: opacity 0.16s ease;

    &:hover {
        opacity: 0.84;
    }
    &:active {
        opacity: 0.7;
    }

    &.size-large {
        width: 100%;
        height: 52px;

        font-size: 1rem;
    }
    &.size-small {
        height: 36px;
        font-size: var(--m-font-size);
    }

    &.variant-filled {
        background-color: var(--access-bg-color);
        color: var(--access-font-color);
    }
    &.variant-empty-filled {
        background-color: transparent;
        color: var(--font-color);
    }
}
