html,
body {
    margin: 0;
    height: 100%;
}

body {
    background-color: var(--background-color);

    color: var(--font-color);

    font-family: var(--font-inter-variable);
}

body * {
    font-family: var(--font-inter-variable);
}

:root {
    --background-color: #212121;
    --foreground-color: #181818;

    --font-color: #ffffff;
    --secondary-font-color: #afafaf;

    --hover-bg-color: #303030;
    --dim-hover-bg-color: #3a3a3a;
    --scrollbar-hover-bg-color: #c0c0c1;

    --active-bg-color: #ffffff0d;
    --active-btn-bg: #242424;
    --active-btn-dim-bg: #2c2c2c;

    --light-border-color: #ffffff0d;

    // sizes
    // prefix "d" means "default"
    --d-btn-padding: 0.375em 0.625em;

    --d-font-size: 1rem;
    --m-font-size: 0.825rem;
}
