@use '@/styles/mixins.scss' as *;

.main-content {
    @include flex-center;

    background-color: var(--dark-foreground-color);

    width: 100%;
    height: 100%;

    padding: 1.25em;
    box-sizing: border-box;
}
