@use '@/styles/mixins.scss' as *;

.settings-modal {
    display: flex;

    width: 100%;
    max-width: 680px;

    height: 100%;
    max-height: 600px;

    border-radius: 16px;
}

.navbar {
    @include flex-column;
    gap: 0.5em;

    background-color: var(--modal-fg-color);

    padding: 0.5em 0.6em;
}

.close-button {
    @include flex-center;

    width: 36px;
    height: 36px;

    border-radius: 8px;

    &:hover {
        background-color: var(--light-hover-bg-color);
    }
}
