@use '@/styles/mixins.scss' as *;

.chat-page {
    @include flex-center;

    width: 100%;

    padding: 0 1em;

    box-sizing: border-box;

    overflow: auto;
}

.chat-box {
    @include flex-column;
    align-items: center;

    width: 100%;
    max-width: var(--chat-max-width);
    max-height: 100%;
}
