@use '@/styles/mixins.scss' as *;

.chat-input-block {
    position: relative;

    @include flex-column;
    gap: 0.75em;

    width: 100%;

    box-shadow: 0 0 20px var(--input-box-shadow-color);
    border-radius: 28px;

    background-color: var(--input-bg-color);

    padding: 1em;
    padding-left: 1em;

    padding-right: 1em;
    box-sizing: border-box;

    cursor: text;
}

.chat-input {
    width: 100%;
    max-height: 320px;

    background-color: transparent;

    border: none;
    outline: none;

    padding: 0 0.5em;
    box-sizing: border-box;

    line-height: 1.8rem;

    color: var(--font-color);
    font-size: 1rem;

    resize: none;
    overflow: hidden;

    &.bounded {
        @include scrollableY('thin', var(--light-hover-bg-color));
    }
}

.tools-block {
    @include flex-y-center;
    justify-content: space-between;

    gap: 2em;

    width: 100%;
}

.badge {
    border-radius: 50px;

    padding: 0.25em 0.5em;
    box-sizing: border-box;
}

.buttons-group {
    @include flex-y-center;
    gap: 0.25em;

    margin-left: auto;
}
.empty-filled-button {
    @include flex-center;

    width: 36px;
    height: 36px;

    background-color: transparent;

    border: none;
    border-radius: 50%;

    cursor: pointer;

    &:hover {
        background-color: var(--light-hover-bg-color);
    }
}
.send-button {
    @include flex-center;

    width: 36px;
    height: 36px;

    background-color: var(--font-color);

    border: none;

    border-radius: 50%;

    cursor: pointer;

    &:disabled {
        color: initial;
        opacity: 0.6;

        cursor: default;
    }
}
