@use '@/styles/mixins.scss' as *;

.auth-form-box {
    @include flex-column;
    gap: 2em;

    width: 100%;
    max-width: 340px;
}

.title-block {
    @include flex-column;
    align-items: center;
    gap: 1em;
}
.title {
    @include text-wo-margin(2rem, 500);

    text-align: center;
}
.hint {
    @include text-wo-margin(1rem);
    color: var(--secondary-font-color);
    text-align: center;
}

.auth-form {
    @include flex-column;
    gap: 1.25em;
}
