@use '@/styles/mixins.scss' as *;

.secondary-button {
    @include flex-center;
    gap: 0.5em;

    width: 100%;
    height: 52px;

    background-color: var(--tretiary-background-color);

    border: 1px var(--border-color) solid;

    border-radius: var(--button-border-radius);

    padding: 0 0.75em;
    box-sizing: border-box;

    color: var(--font-color);
    font-size: 1rem;

    cursor: pointer;

    transition: background-color 0.1s ease;

    &:hover {
        background-color: var(--light-hover-bg-color);
    }
}
