@use '@/styles/mixins.scss' as *;

.message-list {
    @include flex-column;

    gap: 1em;

    width: 100%;

    max-width: var(--chat-max-width);

    padding-top: 5em;

    padding-bottom: 3em;

    box-sizing: border-box;
}
