@use '@/styles/mixins.scss' as *;

.header {
    position: absolute;
    top: 0;
    display: flex;

    width: 100%;

    background-color: var(--background-color);

    border-bottom: 1px var(--active-btn-dim-bg) solid;

    padding: 0.5em;

    box-sizing: border-box;

    z-index: 10;
}
