@use '@/styles/mixins.scss' as *;

.head {
    position: sticky;

    top: 0;

    @include flex-column;

    gap: 0.75em;

    background-color: var(--foreground-color);

    padding-top: 0.5em;

    padding-bottom: 0.25em;
}
.brand-block {
    display: flex;
    justify-content: space-between;
}
