@use '@/styles/mixins.scss' as *;

.modal-backdrop {
    position: absolute;

    width: 100vw;

    height: 100vh;

    z-index: 1000;
}

.drop-down-modal {
    position: absolute;
    top: 0;
    left: 0;

    @include flex-column;
    gap: 0.25em;

    min-width: 200px;

    background-color: var(--light-modal-bg);

    border-radius: 16px;
    padding: 0.375em;
    box-sizing: border-box;
}

.top-children,
.bottom-children {
    position: relative;

    @include flex-column;
}

.divider-block {
    padding: 0 0.75em;
    box-sizing: border-box;
}

.divider {
    background-color: var(--border-color);

    width: 100%;
    height: 1px;
}
