@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-y-center {
    display: flex;
    align-items: center;
}

@mixin flex-x-center {
    display: flex;
    justify-content: center;
}

@mixin flex-column {
    display: flex;

    flex-direction: column;
}

@mixin text-wo-margin($font-size, $font-weight: 400) {
    margin: 0;

    font-size: $font-size;
    font-weight: $font-weight;
}

@mixin scrollableY(
    $scrollbar-width: 'auto',
    $scrollbar-thumb-color: var(--hover-bg-color),
    $scrollbar-track-color: transparent,
    $scrollbar-hover-color: var(--scrollbar-hover-bg-color),
    $scrollbar-button-display: 'block'
) {
    overflow-y: auto;

    scrollbar-width: $scrollbar-width;
    scrollbar-color: $scrollbar-thumb-color $scrollbar-track-color;

    ::-webkit-scrollbar {
        scrollbar-width: $scrollbar-width;
    }
    ::-webkit-scrollbar-thumb {
        scrollbar-width: $scrollbar-thumb-color;
    }
    ::-webkit-scrollbar-track {
        scrollbar-width: $scrollbar-track-color;
    }
    ::-webkit-scrollbar-button {
        display: $scrollbar-button-display;
    }
    &::-webkit-scrollbar:hover {
        background-color: $scrollbar-hover-color;
    }
}
