@use '@/styles/mixins.scss' as *;

.message-list {
    @include flex-column;
    // justify-content: flex-end;
    gap: 1em;

    width: 100%;
    max-width: var(--chat-max-width);
    // height: 100%;

    padding-top: 1.25em;

    padding-bottom: 3em;

    box-sizing: border-box;
}
