@use '@/styles/mixins.scss' as *;

.navbar {
    width: 100%;
    height: 100%;
    max-height: 100%;

    padding-left: 0.5em;
    padding-right: 0.5em;

    box-sizing: border-box;

    transition: max-width 0.25s ease, background-color 0.25s ease;
}

.full-navbar {
    max-width: 230px;
    background-color: var(--foreground-color);

    @include scrollableY();

    overflow: visible;
}

.cut-navbar {
    max-width: 52px;

    border-right: 1px var(--light-border-color) solid;
}

.navbar-content {
    @include flex-column;
    gap: 0.8em;

    height: 100%;
}

.sidebar-button {
    margin-left: auto;

    @include flex-center;

    background-color: transparent;
    border: none;
    border-radius: 8px;

    width: 36px;
    height: 36px;

    cursor: ew-resize;

    &:hover {
        background-color: var(--dim-hover-bg-color);
    }
    &:active {
        background-color: var(--active-btn-dim-bg);
    }
}
